<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>

<body>

<h1>🧠 Explainable AI Admin Dashboard</h1>

<div>

    <h2>
        📊 Total Predictions:
        {{ total_predictions }}
    </h2>

    <h2>
        📈 Average AI Score:
        {{ average_score }}
    </h2>

    <h2>
        🔴 High Risk Cases:
        {{ high_risk }}
    </h2>
    <h2>
        🟡 Medium Risk Cases:
        {{ medium_risk }}
    </h2>

    <h2>
        🟢 Low Risk Cases:
        {{ low_risk }}
    </h2>

</div>

</body>
</html>