<form action="/save-data" method="post">

<input type="text" name="name" placeholder="Student Name">

<input type="number" name="attendance" placeholder="Attendance %">

<input type="number" name="mid1" placeholder="Mid 1 /25">

<input type="number" name="mid2" placeholder="Mid 2 /25">

<input type="number" name="weekly" placeholder="Weekly Avg /5">

<input type="number" name="assignment" placeholder="Assignment Avg /10">

<input type="number" name="lab" placeholder="Lab Marks /30">

<input type="number" name="study_hours" placeholder="Study Hours">

<input type="number" name="backlogs" placeholder="Backlogs">

<button type="submit">
Save Academic Data
</button>

</form>